.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.freeBox__oZ2Y5 {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  max-width: none;
  align-self: center;
  background: var(--token-Q3o03N9rC9EC);
  min-width: 0;
  padding: 8px;
}
.freeBox__oZ2Y5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__oZ2Y5 > :global(.__wab_flex-container) > *,
.freeBox__oZ2Y5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oZ2Y5 > :global(.__wab_flex-container) > picture > img,
.freeBox__oZ2Y5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oZ2Y5 {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oZ2Y5 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__iU3K {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1080px;
  align-self: center;
  min-width: 0;
}
.freeBox__iU3K > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__iU3K > :global(.__wab_flex-container) > *,
.freeBox__iU3K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iU3K > :global(.__wab_flex-container) > picture > img,
.freeBox__iU3K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iU3K {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iU3K > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iU3K > :global(.__wab_flex-container) > *,
  .freeBox__iU3K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__iU3K > :global(.__wab_flex-container) > picture > img,
  .freeBox__iU3K
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__voFko {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__voFko > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__voFko > :global(.__wab_flex-container) > *,
.freeBox__voFko > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__voFko > :global(.__wab_flex-container) > picture > img,
.freeBox__voFko
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__voFko > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__voFko > :global(.__wab_flex-container) > *,
  .freeBox__voFko > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__voFko > :global(.__wab_flex-container) > picture > img,
  .freeBox__voFko
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.text__xt1BF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: center;
  min-width: 0;
}
.freeBox__t6Spc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button__yygPt {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  border-radius: 6px;
  border-width: 0px;
}
.link__wbPfo {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__wbPfo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__wbPfo > :global(.__wab_flex-container) > *,
.link__wbPfo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__wbPfo > :global(.__wab_flex-container) > picture > img,
.link__wbPfo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__tvZwE {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__jo6I1 {
  font-weight: 400;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
}
.svg__ajLov {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 4rem;
}
.categoryCollection:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 8px;
  max-width: 100%;
  position: relative;
  padding: 8px;
}
.freeBox__jeqZ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 0px 4rem;
}
.freeBox__p8Yls {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1200px;
  min-width: 0;
  padding: 8px;
}
.freeBox__p8Yls > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 34px);
  height: calc(100% + 34px);
}
.freeBox__p8Yls > :global(.__wab_flex-container) > *,
.freeBox__p8Yls > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p8Yls > :global(.__wab_flex-container) > picture > img,
.freeBox__p8Yls
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 34px;
}
.h2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.categoryField:global(.__wab_instance) {
  max-width: 100%;
}
.productCollection:global(.__wab_instance) {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  max-width: 100%;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCollection:global(.__wab_instance) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.text__jmbY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.product:global(.__wab_instance) {
  max-width: 100%;
}
.productMedia:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__bthl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Q3o03N9rC9EC);
  min-width: 0;
}
.freeBox__uJ9QB {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  background: #090602;
  min-width: 0;
  padding: 64px 40px 10px;
}
.freeBox__uJ9QB > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__uJ9QB > :global(.__wab_flex-container) > *,
.freeBox__uJ9QB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uJ9QB > :global(.__wab_flex-container) > picture > img,
.freeBox__uJ9QB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uJ9QB {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    background: #090602;
    min-width: 0;
    padding: 64px 40px 10px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uJ9QB > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uJ9QB > :global(.__wab_flex-container) > *,
  .freeBox__uJ9QB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__uJ9QB > :global(.__wab_flex-container) > picture > img,
  .freeBox__uJ9QB
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.freeBox__kp6A3 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  padding-right: 40px;
  padding-left: 40px;
  min-width: 0;
}
.freeBox__kp6A3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__kp6A3 > :global(.__wab_flex-container) > *,
.freeBox__kp6A3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kp6A3 > :global(.__wab_flex-container) > picture > img,
.freeBox__kp6A3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kp6A3 {
    display: flex;
    flex-direction: column;
    padding-left: 7px;
    padding-right: 0px;
    position: relative;
    width: 100%;
    max-width: 1200px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kp6A3 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 0;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kp6A3 > :global(.__wab_flex-container) > *,
  .freeBox__kp6A3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kp6A3 > :global(.__wab_flex-container) > picture > img,
  .freeBox__kp6A3
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 16px;
  }
}
.freeBox___0MrQf {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 280px;
  flex-shrink: 0;
}
.freeBox___0MrQf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___0MrQf > :global(.__wab_flex-container) > *,
.freeBox___0MrQf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0MrQf > :global(.__wab_flex-container) > picture > img,
.freeBox___0MrQf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0MrQf {
    align-self: flex-start;
    display: flex;
    position: relative;
    flex-direction: column;
    top: auto;
    left: auto;
    width: 280px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0MrQf > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0MrQf > :global(.__wab_flex-container) > *,
  .freeBox___0MrQf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___0MrQf > :global(.__wab_flex-container) > picture > img,
  .freeBox___0MrQf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__uwmaf {
  display: flex;
  position: relative;
  flex-direction: column;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uwmaf {
    align-self: flex-start;
    display: flex;
    position: relative;
    flex-direction: column;
  }
}
.text__jsIfM {
  width: 100%;
  max-width: 800px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--token-aOkfr8ld-HBk);
  text-align: left;
  margin-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jsIfM {
    align-self: flex-start;
    width: 100%;
    max-width: 800px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--token-aOkfr8ld-HBk);
    text-align: left;
    margin-bottom: 0px;
    min-width: 0;
  }
}
.link__zhVlT {
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-aOkfr8ld-HBk);
  font-weight: 600;
  text-transform: capitalize;
  text-decoration-line: none;
  border-bottom: 1px none var(--token-Q3o03N9rC9EC);
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__zhVlT {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
    font-size: 20px;
    color: var(--token-aOkfr8ld-HBk);
  }
}
.link__bcbBv {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  font-size: 20px;
  color: var(--token-aOkfr8ld-HBk);
  font-weight: 600;
  text-transform: none;
  text-decoration-line: none;
  border-bottom: 1px none var(--token-Q3o03N9rC9EC);
}
.freeBox__fwNp5 {
  display: flex;
  position: relative;
  width: 280px;
  left: auto;
  top: auto;
  flex-direction: column;
  height: 126px;
  flex-shrink: 0;
}
.freeBox__fwNp5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__fwNp5 > :global(.__wab_flex-container) > *,
.freeBox__fwNp5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fwNp5 > :global(.__wab_flex-container) > picture > img,
.freeBox__fwNp5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fwNp5 {
    align-self: flex-start;
    display: flex;
    position: relative;
    width: 280px;
    left: auto;
    top: auto;
    flex-direction: column;
    height: 126px;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fwNp5 > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fwNp5 > :global(.__wab_flex-container) > *,
  .freeBox__fwNp5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fwNp5 > :global(.__wab_flex-container) > picture > img,
  .freeBox__fwNp5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
._3 {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  font-size: 20px;
  color: var(--token-aOkfr8ld-HBk);
  text-transform: capitalize;
}
@media (min-width: 0px) and (max-width: 768px) {
  ._3 {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
    font-size: 20px;
    color: var(--token-aOkfr8ld-HBk);
  }
}
.link___2X17Q {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  font-size: 20px;
  color: var(--token-aOkfr8ld-HBk);
  text-transform: capitalize;
}
.link__uZyh8 {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  font-size: 20px;
  color: var(--token-aOkfr8ld-HBk);
  text-transform: capitalize;
}
.link___3V7U {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  font-size: 20px;
  color: var(--token-aOkfr8ld-HBk);
  text-transform: capitalize;
}
.freeBox__qh4DM {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  height: 118px;
  align-self: center;
  min-width: 0;
}
.freeBox__qh4DM > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__qh4DM > :global(.__wab_flex-container) > *,
.freeBox__qh4DM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qh4DM > :global(.__wab_flex-container) > picture > img,
.freeBox__qh4DM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qh4DM {
    align-self: flex-start;
    height: 80px;
    display: flex;
    position: relative;
    width: 100%;
    left: auto;
    top: auto;
    flex-direction: column;
    min-width: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qh4DM > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qh4DM > :global(.__wab_flex-container) > *,
  .freeBox__qh4DM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__qh4DM > :global(.__wab_flex-container) > picture > img,
  .freeBox__qh4DM
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.text__eYxS2 {
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--token-aOkfr8ld-HBk);
  text-align: left;
  margin-bottom: 0px;
  margin-left: 133px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__eYxS2 {
    margin-left: calc(0px + 0px) !important;
    align-self: flex-start;
    width: 100%;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--token-aOkfr8ld-HBk);
    text-align: left;
    margin-bottom: 0px;
    min-width: 0;
  }
}
.freeBox__o4KP6 {
  display: block;
  position: relative;
  width: 280px;
  height: 80px;
  max-width: 100%;
  background: none;
  align-self: flex-end;
  flex-shrink: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__o4KP6 {
    align-self: flex-start;
    background: none;
    height: 60px;
    display: block;
    position: relative;
    width: 280px;
    max-width: 100%;
    flex-shrink: 0;
    padding: 8px;
  }
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 0px;
  top: auto;
  width: 262px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textInput:global(.__wab_instance) {
    width: 252px;
    max-width: 100%;
    position: absolute;
    left: 0px;
    top: auto;
  }
}
.svg__ewRez {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__hfNzv:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__i3Reb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__cJows {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__nyENv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__osLx0 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__osLx0 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__osLx0 > :global(.__wab_flex-container) > *,
.freeBox__osLx0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__osLx0 > :global(.__wab_flex-container) > picture > img,
.freeBox__osLx0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__osLx0 {
    position: relative;
    flex-direction: row;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__osLx0 > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__osLx0 > :global(.__wab_flex-container) > *,
  .freeBox__osLx0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__osLx0 > :global(.__wab_flex-container) > picture > img,
  .freeBox__osLx0
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 8px;
  }
}
.link__eRqHa {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 4px 0px;
  border: 1px solid transparent;
}
.link__eRqHa > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__eRqHa > :global(.__wab_flex-container) > *,
.link__eRqHa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__eRqHa > :global(.__wab_flex-container) > picture > img,
.link__eRqHa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__rznmP {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__a5No {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__a5No > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__a5No > :global(.__wab_flex-container) > *,
.freeBox__a5No > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a5No > :global(.__wab_flex-container) > picture > img,
.freeBox__a5No
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__a5No {
    display: flex;
    position: relative;
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__a5No > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__a5No > :global(.__wab_flex-container) > *,
  .freeBox__a5No > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__a5No > :global(.__wab_flex-container) > picture > img,
  .freeBox__a5No
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.svg___2Gebl {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___2Gebl {
    object-fit: cover;
    width: 24px;
    height: 24px;
    color: #05050599;
    flex-shrink: 0;
  }
}
.svg__dH3Sj {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599;
  flex-shrink: 0;
}
.svg__h3OH3 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__h3OH3 {
    object-fit: cover;
    width: 24px;
    height: 24px;
    color: #05050599;
    flex-shrink: 0;
  }
}
.svg___0Tnx9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__cKbPl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button__uQrdi {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  border-radius: 6px;
  border-width: 0px;
}
.link__rnWnS {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__rnWnS > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__rnWnS > :global(.__wab_flex-container) > *,
.link__rnWnS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__rnWnS > :global(.__wab_flex-container) > picture > img,
.link__rnWnS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___3ZVec {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__elbBf {
  font-weight: 400;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
}
.svg__cdcbW {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__wLlkN {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1200px;
  border-top-style: solid;
  border-top-width: 1px;
  min-width: 0;
  padding: 8px 8px 0px 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wLlkN {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    max-width: 1200px;
    border-top-style: solid;
    border-top-width: 1px;
    min-width: 0;
    padding: 8px 0px 0px;
  }
}
.freeBox__n3UoR {
  display: flex;
  position: relative;
  flex-direction: row;
  height: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__n3UoR > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__n3UoR > :global(.__wab_flex-container) > *,
.freeBox__n3UoR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__n3UoR > :global(.__wab_flex-container) > picture > img,
.freeBox__n3UoR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__n3UoR {
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__n3UoR > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 5px);
    height: calc(100% + 5px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__n3UoR > :global(.__wab_flex-container) > *,
  .freeBox__n3UoR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__n3UoR > :global(.__wab_flex-container) > picture > img,
  .freeBox__n3UoR
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 5px;
  }
}
.freeBox__x1Tih {
  display: flex;
  flex-direction: column;
  position: relative;
  background: none;
  width: 100%;
  box-shadow: 0px 10px 10px 0px #00000026;
  height: auto;
  min-width: 0;
  border-radius: 16px;
  padding: 0px;
}
.freeBox__x1Tih > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__x1Tih > :global(.__wab_flex-container) > *,
.freeBox__x1Tih > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x1Tih > :global(.__wab_flex-container) > picture > img,
.freeBox__x1Tih
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x1Tih {
    display: flex;
    flex-direction: column;
    position: relative;
    background: none;
    width: auto;
    box-shadow: 0px 10px 10px 0px #00000026;
    height: auto;
    border-radius: 16px;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x1Tih > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x1Tih > :global(.__wab_flex-container) > *,
  .freeBox__x1Tih > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__x1Tih > :global(.__wab_flex-container) > picture > img,
  .freeBox__x1Tih
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox___37BwL {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  align-self: flex-start;
  padding: 8px 8px 1px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___37BwL {
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    flex-direction: row;
    width: auto;
    height: auto;
    align-self: flex-start;
    padding: 8px 8px 1px 0px;
  }
}
.text__mvj72 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__mvj72 {
    font-size: 11px;
    position: relative;
    width: auto;
    height: auto;
    max-width: 800px;
    text-align: left;
  }
}
.httpsstudioplasmicapp {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: left;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 14px;
  padding-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .httpsstudioplasmicapp {
    font-size: 11px;
    position: relative;
    width: auto;
    height: auto;
    max-width: 800px;
    text-align: left;
    font-weight: 400;
    text-transform: capitalize;
    padding-left: 0px;
  }
}
.freeBox___7Ucmf {
  display: flex;
  flex-direction: column;
  position: relative;
  background: none;
  width: 100%;
  box-shadow: 0px 10px 10px 0px #00000026;
  min-width: 0;
  border-radius: 16px;
  padding: 0px;
}
.freeBox___7Ucmf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___7Ucmf > :global(.__wab_flex-container) > *,
.freeBox___7Ucmf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7Ucmf > :global(.__wab_flex-container) > picture > img,
.freeBox___7Ucmf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7Ucmf {
    display: flex;
    flex-direction: column;
    position: relative;
    background: none;
    width: auto;
    box-shadow: 0px 10px 10px 0px #00000026;
    border-radius: 16px;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7Ucmf > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7Ucmf > :global(.__wab_flex-container) > *,
  .freeBox___7Ucmf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___7Ucmf > :global(.__wab_flex-container) > picture > img,
  .freeBox___7Ucmf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__venG8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__venG8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__venG8 > :global(.__wab_flex-container) > *,
.freeBox__venG8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__venG8 > :global(.__wab_flex-container) > picture > img,
.freeBox__venG8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__venG8 {
    width: auto;
    display: flex;
    position: relative;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__venG8 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__venG8 > :global(.__wab_flex-container) > *,
  .freeBox__venG8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__venG8 > :global(.__wab_flex-container) > picture > img,
  .freeBox__venG8
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox___9DrbN {
  display: flex;
  flex-direction: column;
  position: relative;
  background: none;
  width: 100%;
  box-shadow: 0px 10px 10px 0px #00000026;
  height: auto;
  min-width: 0;
  border-radius: 16px;
  padding: 0px;
}
.freeBox___9DrbN > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___9DrbN > :global(.__wab_flex-container) > *,
.freeBox___9DrbN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9DrbN > :global(.__wab_flex-container) > picture > img,
.freeBox___9DrbN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9DrbN {
    display: flex;
    flex-direction: column;
    position: relative;
    background: none;
    width: auto;
    box-shadow: 0px 10px 10px 0px #00000026;
    height: auto;
    border-radius: 16px;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9DrbN > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9DrbN > :global(.__wab_flex-container) > *,
  .freeBox___9DrbN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___9DrbN > :global(.__wab_flex-container) > picture > img,
  .freeBox___9DrbN
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox___0V8Cg {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___0V8Cg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___0V8Cg > :global(.__wab_flex-container) > *,
.freeBox___0V8Cg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0V8Cg > :global(.__wab_flex-container) > picture > img,
.freeBox___0V8Cg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0V8Cg {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0V8Cg > :global(.__wab_flex-container) {
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
    min-width: 0;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0V8Cg > :global(.__wab_flex-container) > *,
  .freeBox___0V8Cg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___0V8Cg > :global(.__wab_flex-container) > picture > img,
  .freeBox___0V8Cg
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 8px;
  }
}
.link__b7BHu {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 4px 20px;
  border: 1px solid transparent;
}
.link__b7BHu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__b7BHu > :global(.__wab_flex-container) > *,
.link__b7BHu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__b7BHu > :global(.__wab_flex-container) > picture > img,
.link__b7BHu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__b7BHu {
    align-self: flex-start;
    position: relative;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 0.5s;
    border-radius: 6px;
    padding: 4px 10px;
    border: 1px solid transparent;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__b7BHu > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__b7BHu > :global(.__wab_flex-container) > *,
  .link__b7BHu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link__b7BHu > :global(.__wab_flex-container) > picture > img,
  .link__b7BHu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.svg__iYI9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__ci3RU {
  color: var(--token-aOkfr8ld-HBk);
  text-transform: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-right: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ci3RU {
    color: var(--token-aOkfr8ld-HBk);
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-right: 0px;
  }
}
.svg__wwvQ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__hP143 {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 4px 0px;
  border: 1px solid transparent;
}
.link__hP143 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__hP143 > :global(.__wab_flex-container) > *,
.link__hP143 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__hP143 > :global(.__wab_flex-container) > picture > img,
.link__hP143
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__hP143 {
    position: relative;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 0.5s;
    border-radius: 6px;
    padding: 4px 0px;
    border: 1px solid transparent;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__hP143 > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__hP143 > :global(.__wab_flex-container) > *,
  .link__hP143 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link__hP143 > :global(.__wab_flex-container) > picture > img,
  .link__hP143
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.svg__ukDmg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.svg__tbecM {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__s710 {
  color: var(--token-aOkfr8ld-HBk);
  text-transform: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__s710 {
    color: var(--token-aOkfr8ld-HBk);
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-right: 0px;
  }
}
.link__lj2AB {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 4px 20px;
  border: 1px solid transparent;
}
.link__lj2AB > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__lj2AB > :global(.__wab_flex-container) > *,
.link__lj2AB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__lj2AB > :global(.__wab_flex-container) > picture > img,
.link__lj2AB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__lj2AB {
    position: relative;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 0.5s;
    border-radius: 6px;
    padding: 4px 10px;
    border: 1px solid transparent;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__lj2AB > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__lj2AB > :global(.__wab_flex-container) > *,
  .link__lj2AB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link__lj2AB > :global(.__wab_flex-container) > picture > img,
  .link__lj2AB
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.svg___56O77 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___94WF4 {
  color: var(--token-aOkfr8ld-HBk);
  text-transform: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___94WF4 {
    color: var(--token-aOkfr8ld-HBk);
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-right: 0px;
  }
}
.svg__a7Gy2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
